menu {
  position: fixed;
  padding: 30px;
  background-color: var(--white);
  border: solid 3px var(--black);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  left: 40px;
  min-width: 300px;
  width: 18vw;
  gap: 25px;
}

menu fieldset {
  border: none;
}

menu h2 {
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  margin: 0;
}

menu legend {
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-style: italic;
}

menu label {
  font-size: clamp(0.875rem, 1vw, 1.125rem);
}

input[type='radio']:checked, input[type='checkbox']:checked  {
  accent-color: var(--wine);
}
