#player-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  gap: 30px;
}

.player {
  display: flex;
  border: solid 3px var(--black);
  border-radius: 25px;
  width: auto;
  height: 321px;
  aspect-ratio: 14 / 9;
  text-align: center;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

.player div:has(.player-img) {
  border-radius: 25px 0 0 25px;
  border-right: solid 3px var(--black);
  background-color: var(--white);
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.player-img {
  height: 100%;
  object-fit:cover;
}

.player .content {
  background-color: var(--light-grey);
  width: 50%;
  border-radius: 0 25px 25px 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 100%;
}

.player h2 {
  margin: 0;
}

.player h3 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.player h4 {
  margin: 0;
  font-weight: 500;
}

.player h4 span {
  font-weight: 700;
  font-size: 2rem;
  display: block;
}

.player button {
  border: solid 1px black;
  border-radius: 15px;
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--wine);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 70%;
}

.player button:active, .player button.favorite:active {
  filter: brightness(80%);
}

.player button.favorite {
  color: black;
  background-color: var(--gold);
}

.player button img {
  height: 25px;
}
